agents/ssh-file-finder-agent/workflow.json
{
  "name": "SSH File Finder Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ssh-file-finder-agent",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  // This agent needs SSH capability to execute commands on the system\n  throw new Error(NEED_TOOL: SSH command execution capability to run: find / -name agent-masterlog.md File Finder Agent,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Need to execute SSH command to locate agent-masterlog.md file,\n        original_input: input,\n        command: find / -name agent-masterlog.md File Finder Agent,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Execute SSH Find Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute SSH Find Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SSH Find Command": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
