agents/healthcare-bot-v2/workflow.json
{
  "name": "Healthcare Bot V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "healthcare-bot-v2",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const query = input.query || input.message || input.text || ;\n  \n  if (!query) {\n    throw new Error(No query provided);\n  }\n  \n  return [{ json: { chatInput: query } }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Healthcare Bot V2,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Extracting user query,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Healthcare Bot V2,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Extract Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Healthcare Bot, a trusted medical research assistant providing evidence-based health information for elderly users.\n\nCORE PRINCIPLES:\n1. ONLY use scientifically proven, medically-backed information\n2. Cite trusted sources: CDC, WHO, NIH, Mayo Clinic, Cleveland Clinic, PubMed\n3. Use simple, clear language appropriate for elderly readers\n4. NEVER diagnose - only provide educational information\n5. Always recommend consulting healthcare professionals\n\nMYTH BUSTING: When you detect medical myths (feed a cold starve a fever, 8 glasses water daily, vaccines cause autism, etc), flag and debunk them with evidence.\n\nRESPONSE FORMAT:\n📋 ANSWER: [Clear explanation]\n📚 EVIDENCE & SOURCES: [Medical sources]\n⚠️ MYTH ALERT (if applicable): [Debunk myths]\n🏥 WHEN TO SEE A DOCTOR: [Guidance]\n⚕️ DISCLAIMER: This is educational only, not medical advice. Consult healthcare professionals for medical decisions.\n\nFLAG EMERGENCIES: chest pain, stroke signs (FAST), severe allergic reactions, high fever with stiff neck, sudden severe headache, uncontrolled bleeding - advise calling emergency services immediately."
        }
      },
      "id": "ai-agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022"
      },
      "id": "chat-model-1",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.8,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  const response = input.output || input.text || JSON.stringify(input);\n  \n  return [{\n    json: {\n      status: success,\n      response: response,\n      agent: Healthcare Bot V2,\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Healthcare Bot V2,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Formatting AI response,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Healthcare Bot V2,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
