agents/agent-masterlog/workflow.json
{
  "name": "Agent Masterlog",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-masterlog",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const logEntry = {\n    ...input,\n    timestamp: new Date().toISOString(),\n    logged_at: Date.now()\n  };\n  \n  return [{ json: logEntry }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Agent Masterlog,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Preparing log entry with timestamp,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Agent Masterlog,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Add Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "fileName": "/data/logs/agent-sessions.jsonl",
        "fileContent": "={{ JSON.stringify($json) }}\n",
        "createDirectories": true
      },
      "id": "file-1",
      "name": "Write to JSONL",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  return [{\n    json: {\n      status: success,\n      message: Log entry written successfully,\n      timestamp: input.timestamp || new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Agent Masterlog,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Add Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Timestamp": {
      "main": [
        [
          {
            "node": "Write to JSONL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to JSONL": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
