agents/agent-masterlog/workflow.json
{
  "name": "Agent Masterlog",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-masterlog",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const action = (input.action || UNKNOWN).toUpperCase();\n  const agent_name = input.agent_name || Unknown Agent;\n  const details = input.details || ;\n  const workflow_id = input.workflow_id || ;\n  const user = input.user || system;\n  const timestamp = new Date().toISOString();\n  \n  let logLine = `[${timestamp}] [${action}] Agent: ${agent_name}`;\n  \n  if (workflow_id) {\n    logLine += ` | ID: ${workflow_id}`;\n  }\n  \n  if (details) {\n    logLine += ` | Details: ${details}`;\n  }\n  \n  logLine += ` | User: ${user}`;\n  \n  return [{\n    json: {\n      status: success,\n      log_line: logLine,\n      timestamp: timestamp,\n      action: action,\n      agent_name: agent_name\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Agent Masterlog,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Processing log entry,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Agent Masterlog,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Process Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=echo {{ .log_line }} >> /home/claude/agent-masterlog.log"
      },
      "id": "ssh-1",
      "name": "Append to Log File",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "vps_ssh_key",
          "name": "VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  return [{\n    json: {\n      status: success,\n      message: Log entry recorded successfully,\n      timestamp: input.timestamp,\n      action: input.action,\n      agent_name: input.agent_name,\n      log_line: input.log_line\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Agent Masterlog,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Formatting response,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Agent Masterlog,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Log Entry": {
      "main": [
        [
          {
            "node": "Append to Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Log File": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
