agents/chuck-norris-facts-agent/workflow.json
{
  "name": "Chuck Norris Facts Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chuck-norris-facts-agent",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.chucknorris.io/jokes/random",
        "options": {}
      },
      "id": "http-1",
      "name": "Fetch Chuck Norris Fact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fact = $input.first().json.value;\nconst category = $input.first().json.categories[0] || uncategorized;\nconst iconUrl = $input.first().json.icon_url;\n\nreturn [{\n  json: {\n    fact: fact,\n    category: category,\n    icon_url: iconUrl,\n    message: `🥊 Chuck Norris Fact:\\n\\n${fact}\\n\\nCategory: ${category}`\n  }\n}];"
      },
      "id": "code-1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allEntries"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Chuck Norris Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chuck Norris Fact": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
