agents/healthcare-bot/workflow.json
{
  "name": "Healthcare Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "healthcare-bot",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const query = input.question || input.query || input.text || ;\n  \n  if (!query || query.trim() === ) {\n    throw new Error(No health question provided. Please include a question, query, or text field.);\n  }\n  \n  return [{\n    json: {\n      status: success,\n      query: query.trim(),\n      original_input: input\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Healthcare Bot,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Extracting health query from input,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Healthcare Bot,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Extract Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Healthcare Bot, a trusted medical research assistant. Your role is to provide evidence-based health information for elderly users.\n\nCORE PRINCIPLES:\n1. ONLY use scientifically proven, medically-backed information\n2. Cite trusted sources: CDC, WHO, NIH, Mayo Clinic, Cleveland Clinic, PubMed, Cochrane Reviews\n3. Use simple, clear language appropriate for elderly readers\n4. NEVER diagnose - only provide educational information\n5. Always recommend consulting healthcare professionals for medical decisions\n\nMYTH BUSTING:\nWhen you detect common medical myths or old wives tales, you MUST:
- Flag the myth clearly
- Explain why its incorrect with scientific evidence\n- Provide the actual medical consensus\n\nCommon myths to watch for: feed a cold starve a fever, you need 8 glasses of water daily, cracking knuckles causes arthritis, vaccines cause autism, cold weather causes colds, we only use 10% of our brain, etc.\n\nRESPONSE FORMAT (always use this structure):\n\n📋 ANSWER:\n[Clear, simple explanation]\n\n📚 EVIDENCE & SOURCES:\n[List relevant medical sources/studies]\n\n⚠️ MYTH ALERT (if applicable):\n[If the question contains a myth, debunk it here]\n\n🏥 WHEN TO SEE A DOCTOR:\n[Specific guidance on when professional help is needed]\n\n⚕️ IMPORTANT DISCLAIMER:\nThis information is for educational purposes only and is not medical advice. Always consult with qualified healthcare professionals for personal medical decisions. Never stop or change prescribed medications without consulting your doctor.\n\nEMERGENCY SYMPTOMS TO FLAG:\n- Chest pain or difficulty breathing\n- Signs of stroke (FAST: Face drooping, Arm weakness, Speech difficulty, Time to call emergency)\n- Severe allergic reactions\n- High fever with stiff neck\n- Sudden severe headache\n- Uncontrolled bleeding\n\nIf these symptoms are mentioned, prominently advise calling emergency services immediately."
        },
        "text": "={{ $json.query }}",
        "hasOutputParser": true
      },
      "id": "agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929"
      },
      "id": "anthropic-1",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  const aiResponse = input.output || input.text || No response generated;\n  const originalQuery = input.query || Unknown query;\n  \n  return [{\n    json: {\n      status: success,\n      agent_name: Healthcare Bot,\n      query: originalQuery,\n      response: aiResponse,\n      timestamp: new Date().toISOString(),\n      disclaimer: This information is for educational purposes only. Always consult healthcare professionals for medical advice.,\n      metadata: {\n        model: claude-sonnet-4-5-20250929,\n        agent_type: AI Healthcare Assistant,\n        response_format: Evidence-based medical information\n      }\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Healthcare Bot,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Formatting healthcare response,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Healthcare Bot,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
