agents/stock-price-tool/workflow.json
{
  "name": "Stock Price Tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-price-tool",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst ticker = input.ticker || input.symbol;\nreturn [{json: {ticker: ticker}}];"
      },
      "id": "code-1",
      "name": "Extract Ticker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.ticker}}",
        "options": {}
      },
      "id": "http-1",
      "name": "Fetch Stock Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst ticker = data.chart.result[0].meta.symbol;\nconst price = data.chart.result[0].meta.regularMarketPrice;\nconst currency = data.chart.result[0].meta.currency;\nreturn [{json: {status: success, ticker: ticker, price: price, currency: currency}}];"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticker": {
      "main": [
        [
          {
            "node": "Fetch Stock Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Price": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
