agents/stock-price-tool/workflow.json
{
  "name": "Stock Price Tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-price-tool",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const ticker = input.ticker || input.symbol;\n  \n  if (!ticker) {\n    throw new Error(Missing required parameter: ticker);\n  }\n  \n  return [{\n    json: {\n      ticker: ticker.toUpperCase(),\n      url: `https://query1.finance.yahoo.com/v8/finance/chart/${ticker.toUpperCase()}`\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      tool_name: Stock Price Tool,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "method": "GET",
        "options": {}
      },
      "id": "http-1",
      "name": "Fetch Stock Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  const ticker = input.chart?.result?.[0]?.meta?.symbol;\n  const price = input.chart?.result?.[0]?.meta?.regularMarketPrice;\n  const currency = input.chart?.result?.[0]?.meta?.currency;\n  \n  if (!price) {\n    throw new Error(Unable to fetch stock price - ticker may be invalid);\n  }\n  \n  return [{\n    json: {\n      status: success,\n      ticker: ticker,\n      price: price,\n      currency: currency,\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      tool_name: Stock Price Tool,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Fetch Stock Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Price": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
