agents/whizkid-add-stock-v2/workflow.json
{
  "name": "Whizkid Add Stock V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whizkid-add-stock-v2",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mcp.glumpe.com/screener",
        "options": {}
      },
      "id": "http-get-1",
      "name": "Fetch Screener",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookInput = $input.first().json.body || $input.first().json;\nconst screenerData = $input.item(1).json;\n\ntry {\n  const ticker = webhookInput.ticker?.toUpperCase();\n  const notes = webhookInput.notes || ;\n  \n  if (!ticker) {\n    throw new Error(Ticker is required);\n  }\n  \n  // Check if ticker already exists\n  const existingStock = screenerData.stocks.find(s => s.ticker === ticker);\n  \n  if (existingStock) {\n    return [{\n      json: {\n        status: error,\n        message: `Stock ${ticker} already exists in screener`,\n        existing_stock: existingStock\n      }\n    }];\n  }\n  \n  // Create new stock entry\n  const newStock = {\n    ticker: ticker,\n    signal: yellow,\n    research_status: pending,\n    notes: notes,\n    added_date: new Date().toISOString(),\n    last_updated: new Date().toISOString()\n  };\n  \n  // Add to stocks array\n  screenerData.stocks.push(newStock);\n  \n  // Update metadata\n  screenerData.metadata = screenerData.metadata || {};\n  screenerData.metadata.total_stocks = screenerData.stocks.length;\n  screenerData.metadata.last_updated = new Date().toISOString();\n  \n  // Count signals\n  const signals = screenerData.stocks.reduce((acc, s) => {\n    acc[s.signal] = (acc[s.signal] || 0) + 1;\n    return acc;\n  }, {});\n  screenerData.metadata.signal_counts = signals;\n  \n  return [{\n    json: {\n      updatedScreener: screenerData,\n      addedStock: newStock,\n      status: success\n    }\n  }];\n  \n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Whizkid Add Stock V2,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Adding stock to screener,\n        original_input: webhookInput,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Whizkid Add Stock V2,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Process Add Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp.glumpe.com/screener",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.updatedScreener) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "http-post-1",
      "name": "Update Screener",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Screener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Screener": {
      "main": [
        [
          {
            "node": "Process Add Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Add Stock": {
      "main": [
        [
          {
            "node": "Update Screener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Screener": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
