agents/whizkid-screener-v3/workflow.json
{
  "name": "Whizkid Screener V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whizkid-screener-v3",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/investment-data/whizkid-screener.json"
      },
      "id": "execute-1",
      "name": "Read Screener Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  const fileContent = input.stdout || input;\n  const data = JSON.parse(fileContent);\n  \n  const signalEmoji = {\n    green: 游릭,\n    yellow: 游리,\n    red: 游댮\n  };\n  \n  let markdown = `# Whizkid Screener Report\\n\\n`;\n  markdown += `**Last Updated:** ${data.last_updated}\\n\\n`;\n  markdown += `## Stock Positions\\n\\n`;\n  markdown += `| Ticker | Company | Sector | Price | Market Cap (B) | Revenue Growth YoY | Gross Margin | P/S Ratio | Signal |\\n`;\n  markdown += `|--------|---------|--------|-------|----------------|-------------------|--------------|-----------|--------|\\n`;\n  \n  data.stocks.forEach(stock => {\n    const signal = signalEmoji[stock.signal] || stock.signal;\n    const price = typeof stock.current_price === number ? `$${stock.current_price.toFixed(2)}` : stock.current_price;\n    const marketCap = typeof stock.market_cap_b === number ? `$${stock.market_cap_b.toFixed(2)}B` : stock.market_cap_b;\n    const revenueGrowth = typeof stock.revenue_growth_yoy === number ? `${stock.revenue_growth_yoy.toFixed(1)}%` : stock.revenue_growth_yoy;\n    const grossMargin = typeof stock.gross_margin === number ? `${stock.gross_margin.toFixed(1)}%` : stock.gross_margin;\n    const priceToSales = typeof stock.price_to_sales === number ? stock.price_to_sales.toFixed(2) : stock.price_to_sales;\n    \n    markdown += `| ${stock.ticker} | ${stock.company} | ${stock.sector} | ${price} | ${marketCap} | ${revenueGrowth} | ${grossMargin} | ${priceToSales} | ${signal} |\\n`;\n  });\n  \n  markdown += `\\n## Summary\\n\\n`;\n  markdown += `**Total Positions:** ${data.metadata.total_positions}\\n\\n`;\n  markdown += `**Signal Distribution:**\\n`;\n  markdown += `- 游릭 Green: ${data.metadata.signal_distribution.green}\\n`;\n  markdown += `- 游리 Yellow: ${data.metadata.signal_distribution.yellow}\\n`;\n  markdown += `- 游댮 Red: ${data.metadata.signal_distribution.red}\\n`;\n  \n  return [{\n    json: {\n      status: success,\n      markdown: markdown,\n      raw_data: data\n    }\n  }];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Whizkid Screener V3,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Reading and formatting investment screener data,\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Whizkid Screener V3,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Format as Markdown Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Screener Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Screener Data": {
      "main": [
        [
          {
            "node": "Format as Markdown Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as Markdown Table": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
