agents/stock-price-agent/workflow.json
{
  "name": "Stock Price Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-price-agent",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const ticker = input.ticker;\n  \n  if (!ticker) {\n    return [{\n      json: {\n        status: error,\n        error: Ticker symbol is required,\n        agent_name: Stock Price Agent,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      ticker: ticker.toUpperCase(),\n      original_input: input\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Stock Price Agent,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Extract Ticker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.glumpe.com/webhook/stock-price-tool",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticker",
              "value": "={{ $json.ticker }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Call Stock Price Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  if (input.status === success) {\n    const message = `📈 Stock Price for ${input.ticker}:\\n\\nPrice: ${input.price} ${input.currency}`;\n    \n    return [{\n      json: {\n        status: success,\n        ticker: input.ticker,\n        price: input.price,\n        currency: input.currency,\n        message: message,\n        agent_name: Stock Price Agent,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  } else {\n    return [{\n      json: {\n        status: error,\n        error: input.error || Failed to fetch stock price,\n        agent_name: Stock Price Agent,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n} catch (error) {\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Stock Price Agent,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticker": {
      "main": [
        [
          {
            "node": "Call Stock Price Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Stock Price Tool": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
