agents/stock-price-agent/workflow.json
{
  "name": "Stock Price Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-price-agent",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const ticker = input.ticker || input.symbol;\n  \n  if (!ticker) {\n    return [{\n      json: {\n        status: error,\n        error: No ticker symbol provided,\n        agent_name: Stock Price Agent,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  \n  // Signal that this agent needs a stock price API tool\n  throw new Error(NEED_TOOL: Stock price API to fetch real-time or delayed stock prices for ticker symbols);\n  \n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{\n      json: {\n        status: tool_request,\n        agent_name: Stock Price Agent,\n        tool_needed: error.message.replace(NEED_TOOL:, ).trim(),\n        context: Fetching stock price for ticker:  + (input.ticker || input.symbol),\n        original_input: input,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  return [{\n    json: {\n      status: error,\n      error: error.message,\n      agent_name: Stock Price Agent,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "code-1",
      "name": "Fetch Stock Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Stock Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Price": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
