agents/stock-price-agent-v2/workflow.json
{
  "name": "Stock Price Agent V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-price-agent-v2",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\ntry {\n  const ticker = input.ticker || input.symbol;\n  \n  if (!ticker) {\n    return [{json: {status: error, error: No ticker symbol provided. Please provide a ticker symbol.}}];\n  }\n  \n  return [{json: {ticker: ticker.toUpperCase()}}];\n} catch (error) {\n  return [{json: {status: error, error: error.message, agent_name: Stock Price Agent V2, timestamp: new Date().toISOString()}}];\n}"
      },
      "id": "code-1",
      "name": "Extract Ticker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "rGXv1LLkYfgQLS9x",
        "fieldsUi": {
          "values": [
            {
              "name": "ticker",
              "value": "={{ $json.ticker }}"
            }
          ]
        }
      },
      "id": "execute-workflow-1",
      "name": "Call Stock Price Tool",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  if (input.status === error) {\n    return [{json: {status: error, message: input.error || Failed to fetch stock price}}];\n  }\n  \n  const ticker = input.ticker;\n  const price = input.price;\n  const change = input.change;\n  const changePercent = input.change_percent;\n  \n  let message = `📊 ${ticker}: $${price}`;\n  \n  if (change !== undefined && changePercent !== undefined) {\n    const arrow = change >= 0 ? 📈 : 📉;\n    const sign = change >= 0 ? + : ;\n    message += ` ${arrow} ${sign}$${change} (${sign}${changePercent}%)`;\n  }\n  \n  return [{json: {status: success, message: message, ticker: ticker, price: price, change: change, change_percent: changePercent}}];\n} catch (error) {\n  if (error.message.includes(NEED_TOOL:)) {\n    return [{json: {status: tool_request, agent_name: Stock Price Agent V2, tool_needed: error.message.replace(NEED_TOOL:, ).trim(), context: Formatting stock price response, original_input: input, timestamp: new Date().toISOString()}}];\n  }\n  return [{json: {status: error, error: error.message, agent_name: Stock Price Agent V2, timestamp: new Date().toISOString()}}];\n}"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticker": {
      "main": [
        [
          {
            "node": "Call Stock Price Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Stock Price Tool": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
